@import "../../global.scss";

.menu {
  width: 254px;
  margin-top: 94px;
  height: 75vh;
  background-color: #00000038;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  border-radius: 30px;

  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  &.active {
    right: 15px;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    width: 60%;

    .hum_slider {
      background-color: #d9d9d97d;
      width: 155px;
      height: 56px;
      position: absolute;
      border-radius: 15px;
      transition: all 1s ease;
    }

    li {
      margin-bottom: 25px;
      padding: 9px;
      a {
        font-size: 17px;
        color: inherit;
        text-decoration: none;
      }
      &.active {
        background: #d9d9d97d;
      }
      &:hover {
        font-weight: 700;
      }
    }
  }

  #Hum_home {
    &:checked {
      ~ {
        ul {
          .hum_slider {
            top: 72px;
          }
        }
      }
    }
  }
  #Hum_portfolio {
    &:checked {
      ~ {
        ul {
          .hum_slider {
            top: 136px;
          }
        }
      }
    }
  }
  #Hum_work {
    &:checked {
      ~ {
        ul {
          .hum_slider {
            top: 198px;
          }
        }
      }
    }
  }
  #Hum_testimonial {
    &:checked {
      ~ {
        ul {
          .hum_slider {
            top: 262px;
          }
        }
      }
    }
  }

  #Hum_contact {
    &:checked {
      ~ {
        ul {
          .hum_slider {
            top: 327px;
          }
        }
      }
    }
  }

  input[type="radio"] {
    display: none;
  }
}
