@import "../../global.scss";

.intro {
  position: relative;
  display: flex;
  transition: all 1s ease;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .video {
    width: 100%;
    object-fit: cover;
  }

  .bannerWrap {
    margin-left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    &.active {
      transition: all 1s ease;
      margin-left: -14%;
    }
    &.introHide {
      margin-left: -80%;
    }
    @include mobile {
      height: 100%;
      flex-direction: column;
      // justify-content: unset;
    }
    .left {
      margin-top: 88px;
      overflow: hidden;
      width: 390px;
      height: 390px;
      border-radius: 51%;
      box-shadow: -1px 1px 87px 79px #ff7c7c4f;
      -webkit-box-shadow: -1px 1px 87px 79px #ff7c7c4f;
      -moz-box-shadow: -1px 1px 87px 79px #ff7c7c4f;

      @include mobile {
        width: 11rem;
        height: 11rem;
      }
      .imgContainer {
        width: 390px;
        height: 390px;
        background-color: #ff7c7c4f;
        border-radius: 49%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        float: right;
        transform: rotateZ(-20deg);
        @include mobile {
          align-items: flex-start;
          width: 11rem;
          height: 11rem;
        }

        img {
          @include mobile {
            width: 11rem;
            height: 11rem;
          }
        }
      }
    }

    .right {
      overflow: hidden;
      color: white;
      width: 400px;

      .wrapper {
        width: 100%;
        height: 100%;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mobile {
          padding-left: 0;
          align-items: center;
          color: black;
        }

        h1 {
          font-size: 55px;
          margin: 10px 0;

          @include mobile {
            font-size: 40px;
          }
        }
        h2 {
          font-size: 30px;
        }

        h3 {
          font-size: 25px;

          @include mobile {
            font-size: 20px;
          }
        }

        span {
          font-size: 25px;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }
      }
    }
  }
}
