@import "../../global.scss";

.testimonials {
  top: 15%;
  left: -71%;
  width: 70%;
  height: 71%;
  position: absolute;
  background-color: $mainColor2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  transition: all 1s ease;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);

  &.active {
    left: 4%;
  }
  @include mobile {
    justify-content: space-around;
  }

  h1 {
    color: white;
    margin-top: 23px;
    font-size: 45px;

    @include mobile {
      font-size: 20px;
    }
  }

  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
      height: 100%;
    }

    .card {
      background: #d9d9d97d;
      width: 250px;
      height: 68%;
      margin: 2rem;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      transition: all 1s ease;
      overflow: hidden;

      @include mobile {
        height: 180px;
        margin: 10px 0;
      }
      h3 {
        color: crimson;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        overflow: hidden;
      }

      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;

        @include mobile {
          width: 250px;
          height: 180px;
          margin: 1px;
          color: crimson;
        }
      }

      &:hover {
        transform: scale(1.1);
      }

      .center {
        margin-top: 29px;
        width: 12rem;
        height: 12rem;
        text-align: center;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;

        @include mobile {
          font-size: 12px;
          padding: 5px;
        }
        .items {
          width: 10em;
          display: flex;
          justify-content: space-between;
        }
        h5 {
          span {
            color: gray;
          }
        }
      }
    }
  }
}
